<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">GuestBook Register Page</h1>

        <form action="/guestbook/register" method="post">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control title" name="title" placeholder="Enter Title">
            </div>

            <div class="form-group">
                <label>Content</label>
                <textarea class="form-control content" rows="5" name="content"></textarea>
            </div>

            <div class="form-group">
                <label>Writer</label>
                <input type="text" class="form-control writer" name="writer" placeholder="Enter Writer">
            </div>

            <button type="button" class="btn btn-primary btn-register">Submit</button>
        </form>

    </th:block>

</th:block>

<script th:inline="javascript">

    var actionForm = $("form");

    //if empty space exists
    var msg = [[${notice}]];

    if(msg){
        alert(msg);
    }


    function isValid(){
        var title = $('.title').val();
        var content = $('.content').val();
        var writer = $('.writer').val();
        var ret = true;

        if(title == null || title.trim().length == 0){
            ret = false;
        }
        else if(content == null || content.trim().length == 0){
            ret = false;
        }
        else if(writer == null || writer.trim().length == 0){
            ret = false;
        }

        return ret;
    }

    $(".btn-register").click(function(){
        if(!isValid()){
            alert('빈칸을 모두 작성해주세요.');
            return;
        }

        actionForm.attr("action", "/guestbook/register")
                  .attr("method", "post")
                  .submit();

    });

</script>

</html>