<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">GuestBook Register Page</h1>

        <form th:action="@{/guestbook/register}" th:method="post">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" placeholder="Enter Title">
            </div>

            <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" rows="5" name="content"></textarea>
            </div>

            <div class="form-group">
                <label>Writer</label>
                <input type="text" class="form-control" name="writer" placeholder="Enter Writer">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </th:block>

</th:block>

<script th:inline="javascript">
    //if empty space exists
    var msg = [[${notice}]];

    if(msg){
        alert(msg);
    }

    function isValid(){
        var title = $('#title').val();
        var content = $('#content').val();
        var writer = $('#writer').val();
        var ret = true;

        if(title == null || title.trim().length == 0){
            ret = false;
        }
        else if(content == null || content.trim().length == 0){
            ret = false;
        }
        else if(writer == null || writer.trim().length == 0){
            ret = false;
        }

        return ret;
    }
</script>

</html>